.mox__profile-navbar{
    width: 100%;
    align-items: center; 
    justify-content: flex-end; 
    background:white;
    display: flex; 
    
   
 
}

.mox__profile-navbar_container{
    display: flex;
    width: 100%;
    position: relative;
   
}

.mox__profile-navbar_menu-overlay {
    position: fixed;
    z-index: 900;
    inset: 0;
    background: hsla(360, 28%, 10%, .75);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight:bold;
    touch-action: none;
    
}
.nav-list{
    list-style: none;
    position: abosolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;

}
.toggle-nav{
    flex-direction: column;
    gap: 2rem;
}
.toggle-nav > li {
    font-size:2rem;
}
.mox__profile-navbar_container li{
    background-color: none;
    transition: 300ms ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navLink{
    position: relative;
    color:black;
    margin-inline: 2rem;
    font-weight: 300;
    margin-block: 0;
    margin-left:auto;
}

  

.navLink > a {
    position: absolute;
    font-size: 1rem;
    transition: scale 300ms ease-in;
}
.navLink > a:hover, a:focus {
    scale: 1.5;
    font-weight: 500;
    text-transform: uppercase;
}

.profileLogo{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items:center;
    color: black;
    gap: 2rem;
}
.menu-open,
.menu-close{
    width: 3rem;
    aspect-ratio: 1.2/1;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

@media (min-width: 40em){
    .mox__profile-navbar_menu{
        display:none;
    }
    
   
}

@media(max-width: 40em){
    .mox__profile-navbar_menu{
        display:flex;
        width: 100%;
    } 
    .mox__profile-navbar_container{
        display:flex;
    }
    .mox__profile-navbar_container {
        display: none;
    }
} 










