
.button-container{
    display:flex;
    gap:2rem;
    align-items:center;
    justify-content: center;
    margin-block: 1rem;
}

a{
    padding:  0 1rem;
    font-size: clamp(1rem,3vw,2rem);
    width: max-content;
}

.Live{
    background-color: black;
    color:white;
}
    

.Code{
    border: 2px solid black;
    color:black;
}