.mox__profile-header{
    justify-content: space-between;
    position: relative;
}

.left-col{
    display: flex;
    flex: 1;
}
.left-col > svg {
    height: 95%;
    align-self: flex-start;
}

.right-col{
    flex: 1;
    position: relative;
  


}
.right-col > img{
 position: absolute;
 opacity: 0;
 top: 0;
 height: 100%;
 width: 100%;
 object-fit: cover;
 transition: opacity 200ms ease-in;
}
.right-col  .current {
    opacity: 100 
}
.right-col > p {
    height: 100%;
    width: 100%;
    color: transparent;
    margin: auto;
}

.container{
    padding: 2rem;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:auto;
    justify-content: space-between;
    color:black;
    margin-left: 2rem;
}

.title > p {
    color:transparent;
    letter-spacing: .5rem;
   -webkit-text-stroke: 2px black; 
   font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 64px;
    text-transform: uppercase;
    width: max-content;
    font-weight: 700;
    font-size:clamp(1rem, 4vw, 5rem);
    margin:0;
    padding: 0;
    
}
.title > .current{
    color:black;
}

.title > h1 {
text-transform: uppercase;

}

.mox__profile-alternate-header_text{
    display: none;
}
.mox-profile-header_cta-button{
    position: absolute;
    bottom:0;
    right: 0;
    z-index: 99;
}
.mox-profile-header_cta-button img {
    width: clamp(5rem,10vw,10rem);
    aspect-ratio: 1/1;
 
 }
@media(max-width: 50em){
    .mox__profile-header{
        flex-direction: column;
    }
    .left-col{
        height: 50vh;
        margin-bottom: 1rem;
    }
    .left-col > .title{
        flex: 1;
       
       }
    .right-col{
     height: 50vh;
     width: 100%;
    }
    .right-col > img {
        width: 100%;
    }
  
}

@media(max-width: 44rem){
    .mox-profile-header_cta-button{
        transform: none;
    }
}
   
@media( max-width: 28.5em){
    .title > p {
        color: black;
    }
   
}




