.mox__profile-footer--section{
  color: black;
   
}

.mox__profile-footer-content--container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


 

.mox__profile-footer--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


@media (min-width: 56.25em){
    .mox__profile-footer-content--container{
        flex-direction: row;
        justify-content: space-between;
    }
    .mox__profile-footer-title--text{
        align-self: flex-start;
    }

}