
.mox__profile-slider{
    width: 100%;
    min-height: 65vh;
    
}

.mox__profile-slider_container{
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap:2rem;
}
.project-img{
   width: 100%;
}
.project-card{
    flex-direction: column;
    column-gap: 2rem;
    border: 2px solid black;
}
.project-info{
    display: grid;
    position: relative;
    grid-template-rows: 0fr;
    background-color: black;
    color: white;         
    /* padding: 2rem; */
    transition: grid-template-rows 500ms ease-in-out;
    border: 2px solid black;
}
.project-info > * {
    overflow: hidden;
    
}

.project-info[aria-hidden="false"]{
    grid-template-rows: 1fr;
}
.card-trigger{
    margin:0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    inset:0;
    z-index: 2;
}

.project-info > a {
    font-size: 1.5rem;
} 
.project-links{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.project__live-site{
    background: white;
    color:black;
    padding: 0 1rem;
    border-radius: 1rem;
}
.info-container > p {
    padding:1rem;
}
@media(max-width: 50em){
    .mox__profile-slider_container{
        flex-direction: column;
    }
}