
.mox__profile-slider {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
   
  
    
}

.slider-container{
    height:100%;
    width: 100%;
   
    
}
.slider-container img {
    max-width: 100%;
    object-fit: contain;
    aspect-ratio: 16/9;
}
.slider__arrow{
position:absolute;
top: 50%;
transform: translate(0,-50%);
font-size:3rem;
z-index: 1;
cursor:pointer;
}
.left {
    left: 0;
}
.right{
    right: 0;
}

.dots-container{
    margin-block: 1rem;
}
.dots{
    margin-top: 2rem;
    cursor:pointer;
    font-size: 2rem;
}